<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="cadenaConexion" connectionString="data source=108.181.184.38; initial catalog=JuanDB; user id=juancarmona"/>
	</connectionStrings>
</configuration>